table {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    text-align: center;
    border-collapse: collapse;
    display: inline-block;
    margin: 0.5%;
    vertical-align: top;

    transition: background-color linear 1s;

    white-space: nowrap;
}

table td, table th {
    border: 1px solid #948473;
    padding: 4px 4px;
}

table tbody td {
    font-size: 13px;
}

table thead{
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table thead th{
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    border-left: 2px solid #948473;
}

table thead th:first-child {
    border-left: none;
}

caption {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);

    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    border-left: none;
}

#wholesales_ui {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wholesale {
    display: grid;
    grid-template-areas:
    'wholesale_theme wholesale_theme'
    'category_list bid_list'
    'wholesale_bid_input wholesale_bid_input';

    border: 6px solid #948473;
    gap: 10px;
    padding: 10px;

    margin: 0.5%;
}

.wholesale_theme{
    grid-area: wholesale_theme;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.category_list{
    grid-area: category_list;
}

.bid_list{
    grid-area: bid_list;
}

.wholesale_bid_input{
    grid-area: wholesale_bid_input;

    display: flex;
    justify-content: center;
    align-items: center;
}